.App {
  height: 100vh;
  width: 100%;
}

.heading {
  color: #204e28;
  height: 8%;
  display: flex;
  align-items: end;
  margin-left: 5%;
}
.games {
  height: 70%;
  overflow-y: scroll;
}

.games::-webkit-scrollbar {
  display: none;
}

.score {
  height: 22%;
}

.score .scr {
  height: 50%;
}

.score Button {
  height: 50%;
}
